body {
  background-color: #12163b;
  padding: 0;
  padding-top: 10px;
  margin: 0;
}

body * {
  color: white;
  font-family: 'Roboto', sans-serif;
}

body p {
  font-weight: 700;
}

body h1 {
  padding: 10px;
}

body h5 {
  padding: 10px;
}

body .active {
  color: #760dff;
}

body .home-btn {
  margin: 20px;
  margin-left: 30px;
  margin-right: 30px;
  width: 200px;
  color: white;
}

body .schedule-btn {
  background-color: #760dff;
}

body .join-btn {
  background-color: #d804cd;
}

body .join-btn:hover {
  color: white;
}

body .join-btn:active {
  color: white;
}

body .submit-btn {
  background-color: #12163b;
}

body .submit-btn:hover {
  color: white;
}

body .submit-btn:active {
  color: white;
}

body .modal-content {
  background-color: #12163b;
}

body .modal-content .modal-title {
  padding: 20px;
}

body .modal-content #schedule-form {
  position: relative;
  overflow: hidden;
}

body .modal-content #schedule-form .input-area {
  margin-bottom: 40px;
  position: relative;
}

body .modal-content #schedule-form .input-area.button-area {
  text-align: center;
  margin-bottom: 0;
}

body .modal-content #schedule-form input,
body .modal-content #schedule-form textarea {
  height: 100%;
  letter-spacing: 0.1rem;
  padding: 20px;
  display: block;
  width: 100% !important;
  border: none;
  background-color: #0b132e;
  color: white;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

body .modal-content #schedule-form input:focus + .label-name::after,
body .modal-content #schedule-form textarea:focus + .label-name::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  visibility: visible;
}

body .modal-content #schedule-form label {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

body .modal-content #schedule-form label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(#f441a5), to(#03a9f4));
  background: linear-gradient(90deg, #f441a5, #03a9f4);
  width: 100%;
  visibility: hidden;
  -webkit-transform: visibility;
          transform: visibility;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

body .modal-content button {
  padding: 0 20px;
  height: 50px;
  width: 50%;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 0.85rem;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
}

body .modal-content button:active {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out, color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out, color 5000s ease-in-out 0s;
}
/*# sourceMappingURL=home.css.map */