$blue-color: #760dff;
$dark-blue-color: #0b132e;
$violet-color: #d400ff;
$primary-color: white;
$background-color: #12163b;
body {
    padding: 0;
    padding-top: 10px;
    margin: 0;
    background-color: $background-color;
    * {
        color: $primary-color;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 0.25rem;
        text-transform: uppercase;
        text-decoration: none;
    }
    .btn {
        color: $primary-color;
        border: none;
        outline: none;
        &:focus,
        &:active {
            outline: none !important;
            box-shadow: none !important;
            border: none !important;
        }
    }
    .containers {
        min-height: 80vh;
    }
    #wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        #content {
            position: relative;
            z-index: 100;
        }
        #background {
            z-index: -100;
        }
    }
    h1 {
        font-size: 2rem;
    }
    form {
        position: relative;
        overflow: hidden;
        h6 {
            letter-spacing: 0.1rem;
        }
        .input-area {
            margin-bottom: 40px;
            position: relative;
            &.button-area {
                text-align: center;
                margin-bottom: 0;
            }
        }
        input,
        textarea {
            height: 100%;
            letter-spacing: 0.1rem;
            padding: 20px;
            display: block;
            width: 100% !important;
            text-transform: none!important;
            border: none;
            background-color: $dark-blue-color;
            color: $primary-color;
            position: relative;
            box-sizing: border-box;
            outline: none;
            &:focus {
                +.label-name::after {
                    visibility: visible;
                }
            }
        }
        label {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            pointer-events: none;
            &::after {
                content: "";
                position: absolute;
                left: 0px;
                bottom: -1px;
                height: 1px;
                background: linear-gradient(90deg, #f441a5, #03a9f4);
                width: 100%;
                visibility: hidden;
                transform: visibility;
                transition: transform 0.3s ease;
            }
        }
        .submit-btn {
            padding: 0 20px;
            height: 50px;
            width: 50%;
            text-align: center;
            line-height: 50px;
            color: $primary-color;
            font-size: 0.85rem;
            letter-spacing: 0.25rem;
            text-transform: uppercase;
            text-decoration: none;
            box-sizing: border-box;
            outline: none;
            border: 2px solid $primary-color;
            &:active {
                outline: none;
            }
            &:hover {
                color: $primary-color;
            }
        }
        .close {
            margin: 5px;
        }
    }
    //---------------------------------------------GLOBAL STYLES END HERE ---------------------------
    #nav-menu {
        .btn {
            font-size: 0.85rem;
            display: block;
            font-weight: 700;
            &:hover {
                color: $blue-color;
            }
        }
        .active-btn {
            color: $blue-color;
            font-weight: 700;
        }
    }
    #home-section {
        .buttons {
            width: 10rem;
            font-size: 0.75rem;
            letter-spacing: 0.1rem;
            font-weight: 700;
            padding: 10px;
        }
        #join-btn {
            background-color: $violet-color;
            &:hover,
            &:active {
                color: $primary-color;
            }
        }
        #schedule-btn {
            background-color: $blue-color;
        }
    }
    #team-section {
        * {
            box-sizing: border-box;
        }
        body {
            font-size: 100%;
            // background: #fff;
            // font-family: 'Open Sans', sans-serif;
            line-height: 1.42857143;
            // color: #333;
        }
        .team {
            padding: 5em 0;
        }
        .container {
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }
        @media (min-width: 768px) {
            .container {
                width: 750px;
            }
        }
        @media (min-width: 992px) {
            .container {
                width: 970px;
            }
        }
        @media (min-width: 1200px) {
            .container {
                width: 1170px;
            }
        }
        .team-grid {
            text-align: center;
        }
        .col-xs-4 {
            width: 33.33333333%;
            float: left;
            position: relative;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
        }
        /*-- Team --*/
        .team {
            padding-top: 2em;
        }
        .team-grid {
            text-align: center;
        }
        .team-grid h4 {
            font-size: 25px;
            font-weight: 600;
            margin: 40px 0 20px;
        }
        .team-grid p {
            color: #777;
            font-size: 1em;
        }
        .social-nav li {
            display: inline-block;
        }
        .social-nav a {
            display: inline-block;
            float: none;
            width: 30px;
            height: 30px;
            text-decoration: none;
            cursor: pointer;
            text-align: center;
            line-height: 30px;
            background: #000;
            position: relative;
            -webkit-transition: 0.5s;
            -moz-transition: 0.5s;
            -o-transition: 0.5s;
            transition: 0.5s;
        }
        .model-3d-0 a {
            background: #5C5B5B;
            -webkit-transform-style: preserve-3d;
            -moz-transform-style: preserve-3d;
            -ms-transform-style: preserve-3d;
            -o-transform-style: preserve-3d;
            transform-style: preserve-3d;
        }
        .model-3d-0 .front,
        .model-3d-0 .back {
            width: 30px;
            height: 30px;
            font-size: 1em;
            color: #fff;
            background: #111b57;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            -webkit-transform: translateZ(18px);
            -moz-transform: translateZ(18px);
            -ms-transform: translateZ(18px);
            -o-transform: translateZ(18px);
            transform: translateZ(18px);
            -webkit-backface-visibility: visible;
            -moz-backface-visibility: visible;
            -ms-backface-visibility: visible;
            -o-backface-visibility: visible;
            backface-visibility: visible;
        }
        .model-3d-0 .back {
            font-size: 1em;
            color: #fff;
            -webkit-transform: rotateX(90deg) translateZ(18px);
            -moz-transform: rotateX(90deg) translateZ(18px);
            -ms-transform: rotateX(90deg) translateZ(18px);
            -o-transform: rotateX(90deg) translateZ(18px);
            transform: rotateX(90deg) translateZ(18px);
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            -ms-backface-visibility: hidden;
            -o-backface-visibility: hidden;
            backface-visibility: hidden;
        }
        .twitter .back,
        .facebook .back,
        .instagram .back,
        .pinterest .back {
            background: #81cdfa;
        }
        .model-3d-0 a:hover {
            -webkit-transform: rotateX(-90deg);
            -moz-transform: rotateX(-90deg);
            -ms-transform: rotateX(-90deg);
            -o-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
        }
        .model-3d-0 a:hover .back {
            -webkit-backface-visibility: visible;
            -moz-backface-visibility: visible;
            -ms-backface-visibility: visible;
            -o-backface-visibility: visible;
            backface-visibility: visible;
        }
        .stack img {
            height: 47vh;
            width: 100%;
            object-fit: cover;
            vertical-align: bottom;
            border: 3px solid #fff;
            border-radius: 3px;
            -webkit-border-radius: 3px;
            -o-border-radius: 3px;
            -ms-border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            -o-box-sizing: border-box;
            -ms-box-sizing: border-box;
            -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
            -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
            -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
            -ms-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
        }
        .stack:last-of-type {
            margin-right: 0;
        }
        /* Stacks creted by the use of generated content */
        // 
        /* 2nd element in stack (behind image) */
        .stack {
            float: none;
            width: 92%;
            margin: 3% 0% 8% 4%;
            position: relative;
            z-index: 1;
        }
        /*-- //Team --*/
    }
    #contact-section {
        h3 {
            margin-bottom: 30px;
        }
        form {
            .input-area {
                margin-bottom: 15px;
            }
            .submit-btn {
                margin-top: 20px;
            }
        }
        #footer {
            position: relative;
            top: 15vh;
            p {
                text-transform: none;
                letter-spacing: 0.1rem;
            }
        }
        svg {
            margin: 10px;
            fill: $primary-color;
        }
    }
    .modal-content {
        background-color: $background-color;
        .modal-title {
            padding: 20px;
        }
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out, color 5000s ease-in-out 0s; // for the forms
}