body {
    background: #ECEFF1;
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#message {
    background: white;
    max-width: 360px;
    margin: 100px auto 16px;
    padding: 32px 24px;
    border-radius: 3px;
}

#message h2 {
    color: #ffa100;
    font-weight: bold;
    font-size: 16px;
    margin: 0 0 8px;
}

#message h1 {
    font-size: 22px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);
    margin: 0 0 16px;
}

#message p {
    line-height: 140%;
    margin: 16px 0 24px;
    font-size: 14px;
}

#message a {
    display: block;
    text-align: center;
    background: #039be5;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 16px;
    border-radius: 4px;
}

#message,
#message a {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#load {
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
    font-size: 13px;
}

@media (max-width: 600px) {
    body,
    #message {
        margin-top: 0;
        background: white;
        box-shadow: none;
    }
}

body {
    margin: 0 1em;
    transition: smooth;
}

button {
    margin: 0.2em 0.1em;
}

div#videos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


/*div#videos > video {
    background: black;
    width: 100%;
    height: 100%;
    display: block;
    margin: 1em;
}*/

#remoteVideo {
    object-fit: cover;
    /* width: 100%;*/
    height: 100vh;
    /*float: right; */
    background: black;
    display: block;
    transition: width 0.5s linear;
}

#localVideo {
    object-fit: cover;
    width: 35vh;
    height: 30vh;
    position: absolute;
    right: 0em;
    display: block;
    background: #424242;
    transition: right 0.5s linear;
}

.video button {
    margin: 0 5px 20px 5px !important;
    padding: 0.5em 0.7em 0.5em 0.7em !important;
    width: 7.2em !important;
}

button[disabled] {
    background-color: #424242 !important;
    color: #9E9E9E !important;
}

button:active {
    background-color: #3367D6;
}

button:focus {
    -webkit-box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .5);
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .5);
    outline: none;
}

#hangupBtn {
    background-color: #ed143d !important;
}

.video {
    position: relative;
}

.video .buttons {
    position: absolute;
    bottom: 0;
    z-index: 12;
    width: 100%;
    text-align: center;
    /* display: none; */
}

.video:hover .buttons {
    display: block;
}

.left_area h3 {
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
}

.left_area span {
    color: #19B3D3;
}

.sidebar {
    background: #2f323a;
    padding-top: 30px;
    margin-top: 0;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
    z-index: 7;
}


/* .sidebar .profile_image {
    width: 100px;
    height: 100px;
    border-radius: 100px;
} */

.sidebar h4 {
    color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;
}

.sidebar a {
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}

.sidebar a:hover {
    background: #19B3D3;
}

.sidebar i {
    padding-right: 10px;
}

label #sidebar_btn {
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 20px;
    font-size: 30px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
}

label #sidebar_btn:hover {
    color: #19B3D3;
}

#check:checked~.sidebar {
    left: -190px;
}

#check:checked~.sidebar a span {
    display: none;
}

#check:checked~.sidebar a {
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
}

.content {
    margin-left: 250px;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 0.5s;
}

#check:checked~.content {
    margin-left: 60px;
}

#check {
    display: none;
}

.col-md-12,
.col-md-6 {
    transition: all 0.3s linear;
}