.fileBtn{
    background: none;
    color: black;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-size: 20px;
    margin-bottom:0px;
}

.fileBtn:hover{
    color: #47bfff;
    border-bottom: 1px solid #47bfff;
}

.fileBtn:active{
    color: #47bfff;
    border-bottom: 1px solid #47bfff;
    text-decoration: none;
    background-color: #ECEFF1;
    box-shadow: none;
}

body{
    font-family: arial;
}

#divResultPath button{
    background: none;
    color: #47bfff;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-size: 20px;
}

#divResultPath button:hover{
    color: #218bc4;
}

hr{
    height: 1px;
    color:black;
}
