body {
  background-color: #12163b;
}

svg {
  margin: 10px;
}

#contact #footer {
  position: relative;
  top: 20vh;
  left: 0;
}

.jumbotron {
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  background-color: #12163b;
  padding: 10px;
}

form {
  position: relative;
  overflow: hidden;
}

form .input-area {
  margin-bottom: 40px;
  position: relative;
}

form .input-area.button-area {
  text-align: center;
  margin-bottom: 0;
}

form input,
form textarea {
  height: 100%;
  letter-spacing: 0.1rem;
  padding: 20px;
  display: block;
  width: 100% !important;
  border: none;
  background-color: #0b132e;
  color: #fff;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

form input:focus + .label-name::after,
form textarea:focus + .label-name::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

form label {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

form label::after {
  content: "";
  position: relative;
  left: 0px;
  bottom: -1px;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(#f441a5), to(#03a9f4));
  background: linear-gradient(90deg, #f441a5, #03a9f4);
  width: 100%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

button {
  padding: 0 20px;
  height: 50px;
  width: 50%;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 0.85rem;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #12163b;
  outline: none;
  border: 2px solid white;
}

button:active {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out, color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out, color 5000s ease-in-out 0s;
}
/*# sourceMappingURL=footer.css.map */